body{
	background-image: url(imagenes/Fondogris.png);
	font-family: Arial;
}
#menudenavegacion{
	background-color:white;
	text-align: center;
	position: fixed;
	width: 100%;
}
li{
	display: inline;
	padding-left: 30px;
}
.imagenmenufjord{
	display: inline;
	text-align: center;
}
#Cabecera1{
	background-image: url("imagenes/imagenfondo.jpg");
	text-align: center;
	color: white;
	padding: 300px 300px;
}
#splash{
	background-image: url("imagenes/splash.png");
	background-size: 100% 100%;
	padding-top: 30px;
	width: 100%;
	height: 435px;
}
h1{
	font-size: 500%;
	
}
h2{
	font-size: 300%;
		
}
h3{
	font-size: 200%
}
#hgroup1{
	text-align: center;
	margin-top: 100px;
	
	
}
#scandinavia{
	float: left;
	width: 30%;
	padding-right: 30px;
	padding-left: 50px;
}
#imscandinavia{
	
}

#fondoescan{
	background-image: url("imagenes/imagenfondo2.jpg");
	padding-bottom: 300px; 
	padding-top: 100px;
	text-align: center;
}
#scandinaviatext{
	text-align: left;
}

#boton1{
	margin-top: 50px;
}
.joinus{
	padding: 25px 50px;
	font-weight: 600;
	font-size: 15px;
	color:#ffffff;
	background-color: #ff4870;
	border-radius: 400px;
    border: 1px solid #ff4870;
	width: 100%;
}
.explore{
	padding: 25px 50px;
	font-weight: 600;
	font-size: 15px;
	color:#ff4870;
	background-color: #FFFFF;
	border-radius: 400px;
    border: 1px solid #ff4870;
	width: 100%;
}
.h4{
	text-align: center;
}
.paisaje1{
	width: 50%;
}
.destinoimagen{
	height: 65px;
	width: 98px; 
}
.paisajeimagen{
	height: 400px;
	width: 400px;
	clear: both;
	margin-bottom: 50px;

}
.timg{
	float: left;
	font-size: 12px;
	text-align: left;
	padding-right: 600px;
}
.img 
{
	float: left ;

}
#logosfinal{
	display: inline;
	font-size: 8px;
	text-align:center;
	margin:600px;
}
.imgcoastalguide{
	width: 260px;
	height: 350px;

}